.warp{
    display: flex;
}

.warp div{
    flex-grow: 1;
    height: 200px;
    background: cyan;
    margin: 10px;
    text-align: center;
    line-height: 200px;
}

.warp div:first-child{
    flex-grow:2;
}
