.container {
    width: 100%;
}

.watch {
    display: flex ;
    justify-content: center;
    font-size: 200px;
}

.button {
    display:flex ;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width : 800px) {
    .watch {
        font-size: 100px;
        justify-content: center;
    }
    .button {
        font-size: 10px;
    }
}

@media (max-width : 500px) {
    .watch {
        font-size: 80px;
    }
}

@media (max-width : 400px) {
    .watch {
        font-size: 50px;
    }
    .btn {
        font-size: 10px;
        width: 60px;
    } 
}

@media (max-width : 300px){
    .btn {
        margin-top: 20px;
    }
}
